pytumblr
beautifulsoup4
numpy
pandas
matplotlib
scikit-learn
requests
boto3
Pillow
moviepy
tqdm
flask
git+https://github.com/finetuneanon/transformers/@gpt-neo-localattention3
git+https://github.com/nostalgebraist/transformer-utils@main
