pytumblr
beautifulsoup4
numpy
pandas
matplotlib
scikit-learn
requests
boto3
Pillow
moviepy
tqdm
flask
wcwidth
ipython
scikit-image
wandb
smart_open[gcs]
git+https://github.com/nostalgebraist/transformers/@nbar
git+https://github.com/nostalgebraist/transformer-utils@main
ngram==4.0.3
jsonlines
imageio-ffmpeg
joblib==1.2.0
typeguard<3.0.0